.env
*.log

node_modules/
work/

/*.png
/*.jpg
/*.jpeg

outputs/*
!outputs/infinityfree-htdocs-package/
!outputs/infinityfree-htdocs-package/htdocs/
!outputs/infinityfree-htdocs-package/htdocs/**

storage/logs/*
storage/cache/*
storage/sessions/*
storage/uploads/*

!storage/logs/.gitkeep
!storage/cache/.gitkeep
!storage/sessions/.gitkeep
!storage/uploads/.gitkeep
